@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Tilt Warp', cursive;

}
body{
    background: url(4160864.webp);
    min-height: 100vh;
    background-size: cover;
}
.container{
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
}
.date {
    text-align: center;
    font-size: 37px;
    
    padding-left: 2rem;
    padding-right: 2rem;
    width: 9rem;
    height: 7rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    color: white;
}
.second {
    width: 100%;
    display: flex;
    gap: 0.5rem;
    justify-content: space-evenly;
}
.seconds {
    width: 50%;
    text-align: right;
}
.seconds:nth-child(2){
    text-align: left;
    color: red;
}
#h{
    display: flex;
    color: white;
    padding-right: 6rem;
    font-family:'Poppins', sans-serif;
    font-size: 2rem;
    gap: 1em;
    font-weight: bolder;
}
#i{
    padding-right: 6rem;
    font-size: 2rem;
    width: 1em;
    font-weight: bolder;
}
#location{
    width: 22rem;
    height: 2rem;
    border-radius: 12px;
    margin-bottom: 0.5rem;
}
.enter{
    display: flex;
    flex-direction: column;
    align-items: end;

}
input[type = "text"]{
    padding-left: 10px;
    outline: none;
}
button{
    height: 1.5rem;
    width: 3.8rem;
}
button:hover{
    background-color: red;
    color: white;
    border-radius: 5px;
    border-style: none  ;
}
.status{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 12rem;
    width: 30rem;
}
.temp{
    font-family: 'Tilt Warp', cursive;
    font-size: 4rem;
    padding-top: 1rem;
}
.name{
    font-family: 'Tilt Warp', cursive;
}
.desc{
    /* font-family:'Poppins', sans-serif; */
    font-weight: bold;
    font-size: 1.9rem;
    padding-top: 1rem;
    /* color: rgb(248, 6, 58); */
    -webkit-text-stroke:black 0.1px;
} 